body {
 background-image: url("https://cdn.glitch.com/f42a5efb-3e52-46cf-b793-0d33c34bb59c%2Fdownload.jpg?v=1564621932340");
}

header{
  font-family: arial;
  color: white;
  font-size: 25px;
  background-color: black;
  
}
h1{
  
  font-family: arial;
  color: orange;
  font-size: 35px;
  background-color: black;
}

p{
  
  font-family: arial;
  color: white;
  font-size: 15px;
  background-color: black;
  
}
#pizza-gif {
  height: 650px;
  width: 400px;
  background-color: none;
  border-radius: 0px;
  text-align: left;
}