body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightcoral;
}

.backgroundgallery{
  
  background-color: #D4AF37
}

header{
  font-family: arial;
  color: black;
  text-align: center;
  font-size: 75px;
  
}
header1{
  font-family: arial;
  color: black;
  font-size: 25px;
  
}
footer{
  font-family: arial;
  color: black;
  font-size: 25px;
  
}

h1 {
  font-family: arial;
  color: black;
  text-align: center;
  font-size: 40px;
  
  }
p1{
  color: black;
  font-size: 25px;
  word-wrap: break-word;
  width: 200px;
}
p9{
  font-family: arial;
  color: black;
  text-align: center;
  font-size: 75px;
}
.m{
  font-family: arial;
  color: black;
  font-size: 30px;
  
}

li{
  font-family: arial;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.containers{
  width:100%;
  float:left;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}
.squares{
  min-height: 90%;
  width: 96%;
  background-color:	#FE5440;
  display: inline-block;	
  float: left;		
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
#green-square{
  
  background-color: #64F3D5;
  
}
#purple-square{
  
  background-color: #800ecc;
  
}
#kanna-dancing {
  height: 400px;
  width: 600px;
  background-color: none;
  border-radius: 0px;
  text-align: right;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.center-v {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}